<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>

<body>
    <table border="3">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Admin</th>
        <% data.forEach(function(product){%>
            <tr>
                <td>
                    <%= product.id%>
                </td>
                <td>
                    <%= product.name%>
                </td>
                <td>
                    <%=product.color%>
                </td>
                <td>
                    <%=product.size%>
                </td>
                <td>
                    <%=product.price%>
                </td>
                <td>
                    <%=product.stock%>
                </td>
                <td>
                    <a href="/product/edit/<%=product.id%>">
                        <button type="submit" class="btn btn-md">Edit</button>
                    </a>
                    <a href="/product/delete/<%=product.id%>" onclick="return confirm('Are you sure want to edit product <%=product.name%>?')">
                        <button type="submit" class="btn btn-md">Delete</button>
                    </a>

                </td>
            </tr>
            <% })%>
    </table>
</body>

</html>