<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Product</title>
</head>

<body>
    <form action="" method="POST">
        <input type="text" name="name" value="<%= data.name%>">
        <input type="text" name="color" value="<%= data.color%>">
        <select name="">
            <option value="<%=data.size%>">
                <%=data.size%>
            </option>
        </select>
        <input type="text" name="description" value="<%= data.description%>">
        <input type="text" name="price" value="<%= data.price%>">
        <input type="number" name="stock" value="<%= data.stock%>">
        <button class="btn btn-primary" onclick="return confirm ('Are you sure want to edit this data <%=data.name%>?')">Edit</button>
    </form>
</body>

</html>