<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Products</title>
</head>
<% include ../partials/header.ejs%>
    <% include ../styles/style.ejs%>

        <body>
            <table border="3">
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Admin</th>
                <% data.forEach(function(product){%>
                    <tr>
                        <td>
                            <%= product.id%>
                        </td>
                        <td>
                            <%= product.name%>
                        </td>
                        <td>
                            <%=product.color%>
                        </td>
                        <td>
                            <%=product.size%>
                        </td>
                        <td>
                            <%=product.price%>
                        </td>
                        <td>
                            <%=product.stock%>
                        </td>
                        <td>
                            <a href="/product">
                                <button type="submit" class="btn btn-md">Buy Now</button>
                            </a>
                            <br>
                            <br>
                            <a href="/product/buy">
                                <button type="submit" class="btn btn-md">Add to Cart</button>
                            </a>
                        </td>
                    </tr>
                    <% })%>
            </table>
        </body>

</html>